html, body {
  background-color: white;
  margin: 0;
  padding: 0;
}

/* navBar */
.top-header-2 {
  position: relative;
  width: 100%;
}

@media(min-aspect-ratio: 16/9){
  .top-image{
    width: 100%;
    height: auto;
    }
}

.logo-header {
  height: 80px;
  position: relative;
}

nav{
  background: white;
  display: flex;
  gap: 64px;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 0 18%;
}

.toggle-button {
  position: absolute;
  top: 1.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: #3F51B5;
  border-radius: 10px;
}

.nav-links{
  margin: 0;
  padding: 0;
  position: relative;
  display: flex;
  height: 80px;
  gap: 32px;
  align-items: center;
}

.nav-links li{
  list-style-type: none;
}

.nav-links li a{
  font-size: 18px;
  text-decoration: none;
  color: black;
  padding: 5px 0;
  position: relative;
  font-weight: bold;
}

.nav-links li a::after{
  content: '';
  background: #3F51B5;
  width: 0;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: width 0.25s;
}

.nav-links li a:hover::after{
  width: 100%;
}

.btn{
  font-size: 18px;
  background: #2b3ea8;
  color: #fff;
  padding: 10px 30px;
  border-radius: 3px;
  cursor: pointer;
  position: relative;
}

.btn:hover{
  background: #3F51B5;
}

.nav-links li.btn a{
  color: white;
}

@media (min-width: 867px) and (max-width: 1100px) {
  nav {
    padding: 0 8%;
  }
}

@media (min-width: 759px) and (max-width: 867px) {
  nav {
    padding: 0 2%;
  }
}

@media (max-width: 759px) {
  .toggle-button {
    display: flex;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    height: auto;
    gap: 0;
    padding-bottom: 12px;
  }

  nav {
    flex-direction: column;
    gap: 0;
  }

  .nav-links li {
    text-align: center;
    padding: .5rem 1rem;
  }

  .nav-links.active {
    display: flex;
  }
}
/* navBar end */

/* Header */
.button_howtouse {
  color: white;
  background-color: #2a3b9e;
  padding: 20px 40px;
  text-decoration: none;
  display: inline-block;
  border-radius: 15px;
  font-size: 20%;
  font-style: normal;
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 100%;

  border: none;
  cursor: pointer;
}

.button_howtouse:hover{
  color: white;
  background-color: #3F51B5;
  text-decoration: none; 
}

.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  max-width: 900px;
  color: black;
}

.content form{
  display: flex;
  width: 100%;
  justify-content: center;
}

.content2 {
  background-image: url(../img/medicine.jpg);
  display: flex;
  height: 500px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content h1{
  font-size: 4rem;
  font-weight: 600;
  color: #007bff;
}

@media (max-width: 955px) {
  .content h1{
    padding: 0 8%;
    font-size: 7vw;
    text-align: center;
  }  
  
  .content2 {
    height: 40%;
  }

  .button_howtouse {
    padding: 3% 6%;
    font-size: 3.75vw;
    white-space: nowrap;
  }
}

@media (max-width: 600px) {
  .content {
    gap: 36px;
  }

  .content h1 {
    font-size: 3.5rem;
    text-align: left;
  }

  .content2 {
    height: 45%;
  }
  
  .button_howtouse {
    padding: 16px 32px;
    font-size: 1.5rem;
    white-space: nowrap;
  }
}

@media (max-width: 400px) {
  .content h1{
    font-size: 9vw;
  } 
  .content2 {
    height: 40%;
  }
}
/* Header end */

/* Footer */
.footer-dark {
  padding:50px 0;
  color:#f0f9ff;
  background-color:#282d32;
}

.footer-dark h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:16px;
}

.footer-dark ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
}

.footer-dark ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.6;
}

.footer-dark ul a:hover {
  opacity:0.8;
}

@media (max-width:767px) {
  .footer-dark .item:not(.social) {
    text-align:center;
    padding-bottom:20px;
  }
}

.footer-dark .item.text {
  margin-bottom:36px;
}

@media (max-width:767px) {
  .footer-dark .item.text {
    margin-bottom:0;
  }
}

.footer-dark .item.text p {
  opacity:0.6;
  margin-bottom:0;
}

.footer-dark .item.social {
  text-align:center;
}

@media (max-width:991px) {
  .footer-dark .item.social {
    text-align:center;
    margin-top:20px;
  }
}

.footer-dark .item.social > a {
  font-size:20px;
  width:36px;
  height:36px;
  line-height:36px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  box-shadow:0 0 0 1px rgba(255,255,255,0.4);
  margin:0 8px;
  color:#fff;
  opacity:0.75;
}

.footer-dark .item.social > a:hover {
  opacity:0.9;
}

.footer-dark .copyright {
  text-align:center;
  padding-top:24px;
  opacity:0.3;
  font-size:13px;
  margin-bottom:0;
}
/* Footer end */

/* Main features */
.ex-col{
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.ex-feature{
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-style: normal;
  font-weight: bold;
  font-size: 4rem;
  line-height: 100%;
  margin-top: 3rem;
}

@media (max-width: 700px) {
  .ex-feature{
    font-size: 9vw;
  }
}

.color-bk{
  color: #313131;
}

.color-bl{
  color: #3F51B5;
}

.ex-def{
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  line-height: 147.9%;
  color: #313131;
  text-align: center;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  padding: 0 10%;
}

.ex-row{
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 100%;
  gap: 2rem;
}

.ex-row.second{
  display: none;
}

.left-col{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.right-col{
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
  gap: 2rem;
}

.block{
  position: relative;
}

.block-txt{
  top: 50%;
  left: 50%;
  font-size: 2rem;
  transform: translate(-50% , -50%);
  position: absolute;
  text-align: center;
  color: white;
}

.block-img{
  width: 20rem;
  height: 20rem;
  filter: brightness(50%);
  object-fit: cover;
}

@keyframes sliding {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes sliding2 {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@media (max-width: 760px) {
  .left-col{
    flex-direction: row;
  }

  .right-col{
    flex-direction: row;
    margin-top: 0;
  }

  .ex-col{
    height: 575px;
  }

  .ex-row{
    position: absolute;
    bottom: 0%;
    animation: sliding 10s linear infinite;
  }

  .ex-row.second{
    display: flex;
    animation: sliding2 10s linear infinite;
    left: -4%;
  }
}
/* Main Features end */

/* New Software */
:root{
  --pillWidth: 35rem;
}

.software-detail{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  margin-top: 0.5rem;
}

.software-text{
  font-weight: bold;
  line-height: 147.9%;
}

.software-text.header{
  font-size: 2rem;
}

.software-text.para{
  font-size: 1.25rem;
  margin-bottom: 2rem;
}

.software-img{
  width: 40rem;
  border-radius: 3rem 0 0 3rem;
}

.software-text.section{
  display: flex;
  flex-direction: column;
  background-color: #DBD9D9;
  justify-content: center;
  height: auto;
  width: 30rem;
  border-radius: 0 3rem 3rem 0;
  padding: 1rem;
}

@media (max-width: 1250px) {
  .software-detail{
    flex-direction: column;
    align-items: center;
    width: auto;
  }

  .software-img{
    border-radius: 3rem 3rem 0 0;
    width: var(--pillWidth);
  }

  .software-text.section{
    border-radius: 0 0 3rem 3rem;
    width: auto;
  }
}

@media (max-width: 650px) {
  .software-img{
    width: calc(var(--pillWidth) - 5rem);
  }

  .software-text.section{
    width: calc(var(--pillWidth) - 5rem);
  }
}

@media (max-width: 580px) {
  .software-img{
    width: calc(var(--pillWidth) - 10rem);
  }

  .software-text.section{
    width: calc(var(--pillWidth) - 10rem);
  }
}

@media (max-width: 440px) {
  .software-img{
    width: calc(var(--pillWidth) - 15rem);
  }

  .software-text.section{
    width: calc(var(--pillWidth) - 15rem);
  }
}

@media (max-width: 370px) {
  .software-img{
    width: calc(var(--pillWidth) - 20rem);
  }

  .software-text.section{
    width: calc(var(--pillWidth) - 20rem);
  }

  .software-text.header{
    font-size: 1.25rem;
  }
  
  .software-text.para{
    font-size: 1rem;
    margin-bottom: 1.25rem;
  }
}
/* New Software end */

/* Random Paragraph */
.random-paragraph{
  margin: 1rem 0;
  padding: 0 1.5rem;
}
/* Random Paragraph end */

/* How to use */
.main-content{
  max-width: max-content;
  margin: auto;
  background-color: white;
  padding: 1rem 0;
}

.main-content.second{
  background-color: #E4E7FF;
}

.box{
  padding: 10px;
  display: flex;
  width: 65%;
  margin: 0 auto;
  gap: 64px;
}

.column{
  margin-top: 10%;
  vertical-align: middle;
}

.app-image{
  height: 450px;
  border:1px solid black; 
  border-radius: 25px;
}

.text-page{
  margin-top: 32px;
  font-size: 1.25rem;
}

@media (max-width: 1200px) {
  .box{
    width: 80%;
  }
}

@media (max-width: 850px) {
  .box{
    width: 90%;
  }
}

@media (max-width: 700px) {
  .text-page{
    margin-top: 24px;
    font-size: 1rem;
  }

  .box{
    gap: 32px;
  }

  .app-image{
    height: 400px;
  }

  .column {
    margin-top: 5%;
  }
}

@media (max-width: 600px) {
  .text-page{
    margin-top: 16px;
  }
  .column {
    margin-top: 2.5%;
  }
}

@media (max-width: 460px) {
  .box{
    flex-direction: column;
    align-items: center;
  }

  .app-image{
    height: auto;
    width: 250px;
  }
}

@media (max-width: 400px) {
  .app-image{
    width: 200px;
  }
}
/* How to use end */

/* Our team */
.profile-row{
  display: flex;
  justify-content: center;
  /* margin: 0 3rem; */
  gap: 32px;
  flex-wrap: wrap;
  width: 65%;
}

@media (max-width: 1400px) {
  .profile-row{
    width: 90%;
    gap: 24px;
  }
  
}

@media (max-width: 1170px) {
  .profile-row{
    width: 80%;
    gap: 16px;
  }
}


.profile-container{
  width: 100%;
  display: flex;
  justify-content: center ;
  margin-bottom: 32px;
}

.profile{
  margin-top: 25px;
  flex-shrink: 0;
  max-width: 100%;
  width: auto!important;
  background-color: #cbd2fa;
  color: black;
  padding: 16px!important;
  margin-top: 0!important;
  border-radius: 8px;
}

.profile .img-box{
  opacity: 1;
  display: block;
  position: relative;
}

.profile h2{
  font-size: 22px;
  font-weight: bold;
  margin-top: 15px;
}

.profile h3{
  font-size: 15px;
  font-weight: bold;
  margin-top: 15px;
}

.img-box:after{
  content: '';
  opacity: 0;
  background-color: rgba(0,0,0,0.3);
  position:absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
}

.img-box ul{
  margin: 0;
  padding: 20px 0;
  position: absolute;
  z-index: 1;
  bottom: 0;
  display: block;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
}

.img-box ul li{
  width: 30px;
  height:30px;
  border:1px solid#fff;
  border-radius:50%;
  margin:3px;
  padding:7px;
  display: inline-block;
}

.img-box a{
  color: #fff;
}

.img-box:hover:after{
  opacity: 1;
}

.img-box:hover ul{
  opacity: 1;
}

.img-box a:hover li{
  color: #007bff;
  border: 1px solid  #007bff;
}

.img-box:after, .img-box ul, .img-box ul li{
  transition: all 0.1s ease-in-out 0s;
}

.img-responsive{
  width: 230px;
  height: 300px;
  object-fit: cover;
}
/* Our team end */

/* Contact */
.main-content-3{
  max-width: 1300px;
  margin: auto;
}

.box-2{
  padding: 14px;
  margin: 32px;
  display: flex;
  justify-content: center;
  gap: 16px;
}

.contact-information{
  margin: 24px 32px;
}

.button_contact{
  color: white;
  font-size: 16px;
  padding: 10px;
  width: 150px;
  border-radius: 10px;
  background-color: #2b3ea8;
  border-style: none;
  }
  
.button_contact:hover{
  background-color: #3F51B5;
  } 

.map{
  width: 700px;
  height: 400px;
  border:0;
  border-radius: 8px;
}

@media (max-width: 750px) {
  .box-2{
    flex-direction: column-reverse;
  }

  .map{
    width: 100%;
  }
}
/* Contact end */